@model IEnumerable<e_ticaret.Models.SiteBilgileri>

@foreach (var veri in Model)
{
    <!-- Footer Info -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 mb-sm-45">
                <div class="footer-block about-us-block">
                    <img src="~/Content/img/logo_white.png" width="125" alt="@veri.FirmaAdi">
                    <p>
                        @foreach (var item in veri.Dil.Metinlers)
                        {
                            if (veri.DilID == item.DilID)
                            {
                                @Html.Raw(item.GirisYazisi)
                            }
                        }
                    </p>
                    <ul class="footer-social-icon list-none-ib">

                        @foreach (var item in veri.Dil.Ayarlars)
                        {
                            if (veri.DilID == item.DilID)
                            {
                                <li><a href="http://facebook.com/@item.FacebookAppID" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/@item.TwitterApiID" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/@item.InstagramID" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            }
                        }
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block information-block">
                    <h6>Information</h6>
                    <ul>
                        <li><a href="/Shop/About">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block links-block">
                    <h6>Our Links</h6>
                    <ul>
                        <li><a href="#">Retunrs</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                        <li><a href="#">Terms &amp; Condition</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block extra-block">
                    <h6>BLOG</h6>
                    <ul>
                        @*<li><a href="#">New Collection</a></li>
                            <li><a href="#">Women Dresses</a></li>
                            <li><a href="#">Kids Collection</a></li>
                            <li><a href="#">Mens Collection</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li><a href="#">Shipping policy</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="footer-block contact-block">
                    <h6>Contact</h6>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>@veri.Adres
                            <br>
                            @veri.Ulke
                        </li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:@veri.Mail">@veri.Mail</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>@veri.Tel</li>
                        <li><i class="fa fa-fax" aria-hidden="true"></i>@veri.Faks</li>




                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Info -->
                            <!-- Footer Newsletter -->
    <div class="container">
        <div class="footer-newsletter">
            <h4>Subscribe Newsletter</h4>
            <form class="footer-newslettr-inner">
                <input class="input-md fancy" name="footeremail" title="Enter Email Address.." placeholder="Enter Email Address.." type="text">
                <button class="btn btn-md btn-color fancy">Sing Up</button>
            </form>
        </div>
    </div>
                            <!-- End Footer Newsletter -->
                            <!-- Footer Copyright -->
    <div class="container">
        <div class="copyrights">
            <p class="copyright">&copy; Created by <a href="#" target="_blank">Liman HOST</a>. Byte YAZILIM 2017</p>
            <p class="payment">
                <img src="~/Content/img/payment_logos.png" alt="payment">
            </p>
        </div>
    </div>
                            <!-- End Footer Copyright -->
}

